@model IEnumerable<ECommerceMVC.Models.Product>

<h2>Featured Products</h2>

<div class="row">

@foreach(var item in Model)
{
<div class="col-md-3">

<div class="card product-card">

<img src="@item.ImageUrl"
class="card-img-top">

<div class="card-body">

<h5>@item.Name</h5>

<p>$@item.Price</p>

<a href="/Products/Details/@item.Id"
class="btn btn-primary">
View
</a>

</div>

</div>

</div>
}

</div>